.task-tittle{
    color: yellowgreen;
}

.task-name{
    font-weight: bold;
    color: blue;
}

.task-action{
    cursor: pointer;
}

.task-completed{
    
    color: green;
    text-decoration: line-through;

}

.task-pending{
    color: orangered;
    /* text-decoration: line-through; */
}